body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9; 
  margin: 0;
  padding: 0;
}

header {
  background-color: #0f0f0f; 
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #1f2020; 
  color: white;
  text-align: center;
  padding: 1.5rem;
}

.logo {
  width: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.contacto {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  display: inline-block;
  text-align: left;
  line-height: 1.6;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
}
.linea-decorativa {
  width: 40%; 
  max-width: 500px; 
  height: auto; 
  display: block; 
  margin: 10px auto; 
}

main li:hover {
  background-color: #f0f0f0; 
  transform: translateX(5px); 
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
font-size: 1.05rem; 
}