<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nombre de la Página - Centro Comercial Portales</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../css/styless.css"> 
</head>
<body>
  <header>
    <img src="../../assets/image/LetrasB.png" alt="logo" class="logo">
    <img src="../../assets/image/linea.png" alt="linea" width="80%">
    <h1>Centro Comercial Portales</h1>
    <nav>
      <a href="home.html">Home</a>
      <a href="Parking.html">Parqueo</a>
      <a href="Eventos.html">Eventos</a>
      <a href="Servicios.html">Servicios</a>
      <a href="Directorio.html">Directorio</a>
      <a href="Cine.html">Cine</a>
      <a href="Restaurante.html">Restaurantes</a>
      <a href="Circo.html">Circo</a>
      <a href="politicas.html">Politicas</a>
      <a href="Acerca.html">Acerca De</a>
    </nav>
  </header>
  <main>

    <h2>Cartelera Cinépolis Portales</h2>
<img src="../../assets/image/cine.png" alt="linea" width="25%">

    <p>Disfruta de los últimos estrenos en nuestras cómodas y modernas salas. Horarios válidos solo para hoy, 13 de Noviembre.</p>
<h3>🎥 Estrenos de la Semana</h3>
    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>Película</th>
                <th>Clasificación</th>
                <th>Formato</th>
                <th>Horarios</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Duna: Parte Dos</strong></td>
                <td>B</td>
                <td>2D Subt.</td>
                <td>13:00, 16:30, 20:00, 22:30</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>**IMAX 3D** Subt.</td>
                <td>**15:30, 19:30**</td>
            </tr>
            <tr>
                <td><strong>Kung Fu Panda 4</strong></td>
                <td>A</td>
                <td>2D Dobl.</td>
                <td>11:00, 12:45, 14:30, 17:00</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>3D Dobl.</td>
                <td>19:00, 21:00</td>
            </tr>
            <tr>
                <td>Ghostbusters: Apocalipsis Congelada</td>
                <td>B</td>
                <td>2D Dobl.</td>
                <td>18:30, 21:00</td>
            </tr>
        </tbody>
    </table>
<h3 class="mt-5">🍿 En Cartelera</h3>
    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>Película</th>
                <th>Clasificación</th>
                <th>Formato</th>
                <th>Horarios</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pobres Criaturas</td>
                <td>C</td>
                <td>2D Subt.</td>
                <td>17:30, 20:30</td>
            </tr>
            <tr>
                <td>Godzilla y Kong: El Nuevo Imperio</td>
                <td>B</td>
                <td>**4DX** Dobl.</td>
                <td>16:00, 19:00</td>
            </tr>
        </tbody>
    </table>
    </main>

  <footer>
    <p>Síguenos en redes sociales</p>
    <a href="https://www.facebook.com/portalesgt" target="_blank"><img src="../../assets/image/logo facebook.png" width="3%"></a>
    <a href="https://www.instagram.com/zona.portales/" target="_blank"><img src="../../assets/image/1658587303instagram-png.png" width="3%"></a>
    <a href="https://www.tiktok.com/@portalesgt?lang=es" target="_blank"><img src="../../assets/image/Logo tik.png" width="3%"></a>
    <a href="https://wa.me/50224935000" target="_blank"><img src="../../assets/image/Logo-WhatsApp.png" width="3%"></a>
    <p>&copy; 2025 Centro Comercial Portales. Todos los derechos reservados.</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>