<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nombre de la Página - Centro Comercial Portales</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../css/styless.css"> 
</head>
<body>
  <header>
    <img src="../../assets/image/LetrasB.png" alt="logo" class="logo">
    <img src="../../assets/image/linea.png" alt="linea" width="80%">
    <h1>Centro Comercial Portales</h1>
    <nav>
      <a href="home.html">Home</a>
      <a href="Parking.html">Parqueo</a>
      <a href="Eventos.html">Eventos</a>
      <a href="Servicios.html">Servicios</a>
      <a href="Directorio.html">Directorio</a>
      <a href="Cine.html">Cine</a>
      <a href="Restaurante.html">Restaurantes</a>
      <a href="Circo.html">Circo</a>
      <a href="politicas.html">Politicas</a>
      <a href="Acerca.html">Acerca De</a>
    </nav>
  </header>
  <main>
    <h1>Condiciones Actuales del Parqueo de Portales </h1>
    <h2>Leer detenidamente las condiciones</h2>

Centro Comercial Portales, estas son las características y servicios clave:Capacidad: Cuentan con más de 2,000 espacios de parqueo seguro.</p>

<ul>Tarifas (Vehículos, Motos y Taxis):</ul>
	<li>Q.10 Pago en estación (máquina)</li> 
	<li>Q.15 Pago en garita (a la salida)</li>
	<li> Q.50 Ticket Extraviado </li>
 <hr>
<h2>Bicicletas: Parqueo de cortesía (gratis)</h2>

Disponible únicamente en el Nivel 1.Parqueos Preferenciales: Tienen facilidades para mujeres embarazadas, con hijos y con capacidades especiales.</p>
<img src="../../assets/image/parqueo.png" alt="linea" width="30%">
    </main>

  <footer>
    <p>Síguenos en redes sociales</p>
    <a href="https://www.facebook.com/portalesgt" target="_blank"><img src="../../assets/image/logo facebook.png" width="3%"></a>
    <a href="https://www.instagram.com/zona.portales/" target="_blank"><img src="../../assets/image/1658587303instagram-png.png" width="3%"></a>
    <a href="https://www.tiktok.com/@portalesgt?lang=es" target="_blank"><img src="../../assets/image/Logo tik.png" width="3%"></a>
    <a href="https://wa.me/50224935000" target="_blank"><img src="../../assets/image/Logo-WhatsApp.png" width="3%"></a>
    <p>&copy; 2025 Centro Comercial Portales. Todos los derechos reservados.</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>